* {
  background-color: grey;
  text-align: center;
  font-family: 'Abhaya Libre';
}

/*canvas {
  position: absolute;
  left: 1;
  top: 1;
  display: inline-block;
}*/

header {
  font-family: 'Kaushan Script';
  font-size: 80px;
}

h4 {
  font-size: 18px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

ul {
  /*display: inline;*/
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
  list-style: none;
  font-size: 13pt;
  /*text-align: left;*/
  /*height: 20px;*/
}

span {
  text-align: left;
  width: 30%;
}

img {
  border: 8px solid black;
  margin: 10px;
}

.please {
  font-style: italic;
  font-variant-caps: all-small-caps;
  font-size: 25px;
  letter-spacing: 2px;
}

#cap1 {
  visibility: hidden;
  color: white;
  font-size: 15px;
  position: absolute;
  vertical-align: middle;
  text-align: center;
}

#cap2 {
  visibility: hidden;
  color: white;
  font-size: 15px;
  position: absolute;
  vertical-align: middle;
  text-align: center;
}

#cap3 {
  visibility: hidden;
  color: white;
  font-size: 18px;
  position: absolute;
  vertical-align: middle;
  text-align: center;
}

/*#img1 {
  float: left;
}

#img2 {
  align-items: center;
}

#img3 {
  float: right;
}*/

#reset {
  align-items: center;
  font-size: 25px;
  color: black;
  background: rgba(0,0,0,0);
  border: solid 5px black;
  /*color: white;
  background-color: black;*/
  /*border-radius: 85%;*/
  /*box-shadow: 5px 5px 5px #474747;*/
}

#scores {
  /*width: 75%;*/
}

#seeThis {
  align-items: center;
  font-size: 15px;
  color: black;
  background: rgba(0,0,0,0);
  border: solid 5px black;
  padding: 10px;
}

/*img:hover .cap {
  visibility: visible;
}*/

img:hover {
  -webkit-filter: grayscale(50%) blur(2px);
	filter: grayscale(50%) blur(2px);
  opacity: 0.3;
}
